
*{
        margin: 0; padding: 0; box-sizing: border-box; 

}
:root{
    --darkcyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated : hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
     --dark-gray: hsl(0, 0%, 59%);
    
     
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    
}

.container{
    background: var(--darkcyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    
    
}
.card{
    
    background-color: white;
    border-radius: 20px 20px;
    text-align: center;
    position: relative;
    
    
}
.card_top{
    background: url(./images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
    border-radius: 20px 20px 0 0;
    
}

.top_card img{
    border-radius: 50px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
}
h3{
    margin-top: -20px;
    font-weight: 700;
}
h3 span{
    color: var(--dark-gray);
    font-weight: 300;
}
.top_card a{
    display: block;
    margin-top: 10px;
    color: var(--dark-gray);
}
.likes_followers{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.likes_followers li {
    font-weight: 700;
    font-size: 25px;
}
.likes_followers li span{
    display: block;
    color: var(--dark-gray);
    font-size: 12px;
}
.circle .c1,
.circle .c2
{
    position: absolute;

}
.circle .c1{
    top: 0;
    left: 0;
    transform: translate(-30%, -60%);
}
.circle .c2{
    bottom: 0;
    right: 0;
    transform: translate(30%, 60%);
}
@media(max-width:768px){
    .circle .c1{
        top: 0;
        left: 0;
        transform: translate(-70%, -50%);
        
    }
    .circle .c2{
        bottom: 0;
        right: 0;
        transform: translate(70%, 50%);
    }
    .card{
        max-width: 480px;
        
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }